@charset "UTF-8";
.wrap{
    width: 1300px;
    margin: 0 auto;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    border-color:rgba(88, 133, 253, 1);
    background: rgba(88, 133, 253, 1);
}

.el-checkbox__input.is-focus .el-checkbox__inner{
    border-color: #C7C7C7;
}
.el-pagination{
    padding: 30px 0 0;
    text-align: right;
}
.color5885FD{
    color: #5885FD !important;
}
.margintop40{
    margin-top: 40px;
}
.margintop60{
    margin-top: 60px;
}
.gradientLtoR{
    background:linear-gradient(to right,#5885FD, #2db9f6);
}
.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
    background-color:#fff;
    color: #5885FD;
}

 .el-dropdown-menu  .el-dropdown-menu__item {
    font-size: 14px;
    color: #7B839A;
}
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}


@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.dwkoer{
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    border: 1px solid #5885FD;
    font-size: 14px;
    color: #5885FDFF;
    text-align: center;
    display: inline-block;
    padding: 0 31px;
}

.dwkoer-but{
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    background-color:  #5885FD;
    font-size: 14px;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 0 31px;
}
.cursor-pointer {
    cursor: pointer;
    user-select: none;
}
::selection {
    background-color: #19d6e8;
    color: #fff;
}
.m-hide {
    display: block;
}
.m-show {
    display: none;
}
@media screen and (max-width:960px) {
    .m-hide {
        display: none;
    }
    .m-show {
        display: block;
    }
    .wrap {
        width: 100%;
    }
    .web_nav .wrap {
        justify-content: flex-start !important;
    }
    .hamburg {
        font-size: 24px;
        color: #7B839A;
        padding: 0 10px;
    }
}
.fontWeight100 {
    font-weight: 100;
}
.el-button {
    padding: 0 !important;
}
.star {
    width: 2px;
    height: 2px;
    background: #89f0f1;
    opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0 -300px;
    transform: translate3d(0, 0, -300px);
    backface-visibility: hidden;
}

@keyframes rotate {
    0% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    }
    100% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    }
}
.stars {
    transform: perspective(500px);
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    perspective-origin: 50% 100%;
    left: 50%;
    animation: rotate 90s infinite linear;
}
.dialog-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialog-btn {
    padding: 0 10px;
    min-width: 130px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition:  all ease .3s;
}
.dialog-btn:hover {
    opacity: .8;
}
.confirm-button {
    background: linear-gradient(90deg, #2278FF 0%, #3D58FF 100%);
    margin-right: 5px;
}
.cancel-button {
    margin-left: 5px;
    background: #1D2C46;
}
.hide {
    display: none;
}

.eye {
    position: absolute;
    z-index: 10;
    width: 24px;
    opacity: .3;
    right: 27px;
    top: 20px;
}
.eye-close {
    top:27px
}
